.main__card {
    background-color: hsl(37, 96%, 49%);
    display: flex;
    width: 50vw;
    height: 50vh;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.main__title {
    text-transform: uppercase;
    font-family: 'squada_oneregular', monospace;
    font-size: clamp(50px, 12vw, 20rem);
}

.main__subtitle {
    font-size: clamp(8px, 5vh, 2.75rem);
    text-transform: lowercase;
    align-self: flex-start;
    margin-left: 3.2em;
    margin-top: -0.8em;
}
