@use './variables';
@use './typography';

:root {
    color: $color-primary-CommodoreWhite;
    font-family: $ff-primay-bebas, monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
