//*========================
// COLORS PRIMARY
//*========================

$color-primary-PinkPeach: #f3495e;
$color-primary-RetroRed: #b82d0f;
$color-primary-DeepSea: #113fd9;
$color-primary-SunnyOrange: #f79905;
$color-primary-DarkDusk: #3b3934;
$color-primary-HeavenBlue: #3391e8;
$color-primary-SegaYellow: #f3cf12;
$color-primary-CommodoreWhite: #fcfcfc;
$color-primary-AlmostBlack: #050505;

//*========================
// COLORS PRIMARY
//*========================
