@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/bebas-regular-webfont.woff2') format('woff2'),
        url('../fonts/bebas-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'squada_oneregular';
    src: url('../fonts/squadaone-regular-webfont.woff2') format('woff2'),
        url('../fonts/squadaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: 'squada_oneregular', monospace;
    color: hsl(0, 0%, 100%);
    background-color: hsl(344, 81%, 51%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    outline: none;
    color: black;
}
